@charset "UTF-8";
*{
	margin: 0; padding: 0; box-sizing: border-box;
	text-decoration: none; list-style: none; scroll-behavior: smooth;
	font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
	--primary-color: #efefef;
	--bg-color: #ff4e00;
	--txt-color: #707070;
}
::-webkit-scrollbar {
    width: 0px;
    border: 2px solid #fafafa;
    height: 2px;
    background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
    border: 1px solid transparent;
    background-clip: content-box;
}
.conteneur{
	margin-top: 60px; 
	box-shadow: 0px 0px 0px 0.45px rgba(0,0,0,0.15); 
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: #f5f6f6;
    gap: 80px;
    position: relative;
}

/* main */
main{
	width: 100%; 
	height: 100vh;
}
.items{
	max-width: 1020px;
	width: 100%;
	margin: 60px auto 25px auto;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
	align-items: center;
	gap: 65px;
	padding-bottom: 1.5rem;
}
.item{
	width: 250px;
	height: 300px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0.35rem;
	overflow: hidden;
	transition: all 0.4s ease;
	box-shadow: 0 0 0 2px #f5f5f5;
}
.item:hover img{
	transform: scale(1.005);
	filter: brightness(60%);
}
.img{
	width: 100%;
	height: 180px;
	padding: 5px 5px 0px 5px;
	position: relative;
}
.img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.35rem;
}
.describ{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 0.75rem;
}
.describ h4{
	font-size: 0.80rem;
	color: #222429;
}
.describ h5{
	font-size: 0.65rem;
	color: #979797;
}
.option{
	position: absolute;
	right: 10px;
	top: 8px;
	display: none;
}
.option span:hover{
	color: var(--bg-color);
}
.option span{
	color: #fff;
}
.img:hover .option{
	display: flex;
	flex-direction: column;
}
.img button {
	border:none;
}